:root {
    --theme-accent:#595959;
    --main-bg:#d1d1d1;
    --main-text:#222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-accent:#595959;
        --main-bg:#222;
        --main-text:#d1d1d1;
    }
}

[data-theme="dark"] {
    --theme-accent:#595959;
    --main-bg:#222;
    --main-text:#d1d1d1;
}

[data-theme="light"] {
    --theme-accent:#595959;
    --main-bg:#d1d1d1;
    --main-text:#222;
}

html, body {
	margin: 0px;
	padding: 0px;
	font-size: 16px; /*base font size*/
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	height: inherit;
}

/*--------------AAAAAAAAA SO CUTE-------------*/

body {
    background-color: var(--main-bg);
    color: var(--main-text);
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--main-bg);
}

nav {
    position: fixed; 
    bottom: 0px; 
    backdrop-filter: blur(45px); 
    width: 100%;
    z-index: 500;
    box-shadow: 0px -0px 10px var(--theme-accent);
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem;
    padding: 0px;
    list-style-type: none;
}

nav button {
    filter: invert(100%);
    height: 8vh;
    width: 8vh;
    border: 1px solid var(--theme-accent);
    background-color: transparent;
    font-size: x-large;
}

main > section { 
    padding: 2vh 4vw;
}

#roomlist {
    display: none;
    position: fixed;
    height: 90vh;
    width: 42vw;
    top: 0px;
    left: 0vw;
    z-index: 50;
    background-color: var(--main-bg);
    border: 1px solid var(--theme-accent);
    overflow: hidden auto;
}

#roomlist > ul {
    list-style-type: none; 
    padding: 0rem;
}

#roomlist li::before {
    content: '# ';
}

#roomlist li {
    padding: 1rem;
    border-bottom: 1px var(--theme-accent);
}

#roomlist li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#chat-display {
    z-index: 1;
    padding-bottom: 18vh;
    padding-top: 0px;
}

#basics details {
  border: 1px solid var(--theme-accent);
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

#basics summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

#basics details[open] {
  padding: 0.5em;
}

#basics details[open] summary {
  border-bottom: 1px solid var(--theme-accent);
  margin-bottom: 0.5em;
}

.room {
    display: none;
}
.room > .history > .room-title {
    position: sticky;
    top: 0px;
    margin: 0rem 0rem 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--theme-accent);
    backdrop-filter: blur(5px);
}
.room > .history > p {
    margin: 0px;
    padding: 0.2rem 0.5rem;
}
.room > .chatinput {
    position: fixed;
    bottom: 10vh;
    left: 5vw;
    width: 90vw;
    height: 6vh;
    display: flex;
}
.room > .chatinput > input {
    flex-grow: 1;
    background-color: var(--theme-accent);
    border-radius: 5rem;
    border-color: var(--theme-accent);
    color: var(--main-text);
    padding: 0px 1rem;
}

#settings {
    display: none;
    position: fixed;
    height: 90vh;
    width: 42vw;
    top: 0px;
    right: 0px;
    z-index: 100;
    background-color: var(--main-bg);
    border: 1px solid var(--theme-accent);
    overflow: hidden auto;
}

#settings > ul {
    list-style-type: none; 
    padding: 0rem;
}
#settings > ul > li {
    margin: 0px; 
    padding: 1rem;
}


/*--------------hhehe-------------*/


@media only screen and (min-width: 320px) and (max-width: 479px){
    /*small, phones*/
    html {
        font-size: 14px;
    }

    /*navbar will be at bottom, side panels closed and cover half the screen*/
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    /*medium, tablets*/
    html {
        font-size: 14px;
    }

    /*navbar will be at bottom, side panels closed and cover half the screen*/
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    /*large, laptops*/

    /*navbar at top, side panels open by default, cover like 30% of screen instead of half*/
    nav {
        bottom: unset;
        top: 0px;
    }
    #roomlist {
        display: block;
        width: 12vw;
        top: unset;
        bottom: 0px;
    }
    #chat-display {
        position: relative;
        top: 8vh;
    }
    #settings {
        display: block;
        width: 22vw;
        top: unset;
        bottom: 0px;
    }
}

@media only screen and (min-width: 992px){
    /*very large, monitors*/

    /*navbar at top, side panels open by default, cover like 30% of screen instead of half*/
    nav {
    }
    main {
        display: flex;
        flex-direction: row;
    }
    #roomlist {
        display: block;
        position: static;
        max-width: 25vw;
    }
    #chat-display {
        min-width: 47vw;
        max-height: 72vh;
        overflow: hidden auto;
        flex-grow: 1;
    }
    .room > .chatinput {
        left: unset;
        width: 47vw;
    } 
    #settings {
        display: block;
        position: static;
        max-width: 28vw;
    }
}